@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  margin:0;
  padding:0;
  overflow:hidden;
}

canvas {
  display:block;
}
